<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>
    <h1>Make Changes to Artist Info</h1>
    <a href="/suncode/display">Back to Song Collection</a><br>
    <form action="/suncode/<%=song.id%>?_method=PUT" method="POST">
    Name: <input type="text" name="name" value="<%=song.name%>" /><br/>
    Artist: <input type="text" name="artist" value="<%=song.artist%>"  /><br/>
    Link: <input type="text" name="link" value="<%=song.link%>" /><br/>
    Energy Level: <input type="text" name="energy" value="<%=song.energy%>" /><br/>
    <input type="submit" value="Confirm Changes"/>
  </form>
  </body>
</html>
